
.pic {
  visibility: visible;
  width: 600px;
  height: 900px;
}

.pic1 {
  visibility: visible;
  width: 600px;
  height: 900px;
}

.pic2 {
  visibility: visible;
  width: 600px;
  height: 900px;
}

.pic3 {
  visibility: visible;
  width: 600px;
  height: 900px;
}

.pic4 {
  visibility: visible;
  width: 600px;
  height: 900px;
}