#div1 {
  height:400px;
  padding:10px;
  border:1px solid #aaaaaa;
}
#div2 {
  height:400px;
  padding:10px;
  border:1px solid #aaaaaa;
}
#pic1 {
  width: 50px;
  height: 50px;
}
#pic2{
  width: 50px;
  height: 50px;
}
#pic3 {
  width: 50px;
  height: 50px;
}
#pic4 {
  width: 50px;
  height: 50px;
}
#pic5 {
  width: 50px;
  height: 50px;
}
#pic6 {
  width: 50px;
  height: 50px;
}
#pic7 {
  width: 50px;
  height: 50px;
}
#pic8 {
  width: 50px;
  height: 50px;
}
#pic9 {
  width: 50px;
  height: 50px;
}
#pic10 {
  width: 50px;
  height: 50px;
}
#pic11 {
  width: 50px;
  height: 50px;
}
#pic12 {
  width: 50px;
  height: 50px;
}
#pic13 {
  width: 50px;
  height: 50px;
}
#pic14 {
  width: 50px;
  height: 50px;
}
#pic15 {
  width: 50px;
  height: 50px;
}
#pic16 {
  width: 50px;
  height: 50px;
}
#pic17 {
  width: 50px;
  height: 50px;
}
#pic18 {
  width: 50px;
  height: 50px;
}#pic19 {
  width: 50px;
  height: 50px;
}#pic20 {
  width: 50px;
  height: 50px;
}#pic21 {
  width: 50px;
  height: 50px;
}#pic22 {
  width: 50px;
  height: 50px;
}#pic23 {
  width: 50px;
  height: 50px;
}#pic24 {
  width: 50px;
  height: 50px;
}#pic25 {
  width: 50px;
  height: 50px;
}#pic25 {
  width: 50px;
  height: 50px;
}#pic25 {
  width: 50px;
  height: 50px;
}#pic26 {
  width: 50px;
  height: 50px;
}#pic27 {
  width: 50px;
  height: 50px;
}#pic28 {
  width: 50px;
  height: 50px;
}
