#nav-bar{
	width: 100vw;
	height: 5%;
	font: 18px Arial, Helvetica, sans-serif;
}

#title{
	font: 32px Arial, Helvetica, sans-serif;
	text-align: left;
}
h3 {
  color: white;
}

#subtitle{
	text-align: left;
	font: 24px Arial, Helvetica, sans-serif;
}
#video{
	text-align: center;
}
#what{
	background-color: white;
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	margin-top: 20px;
}
#paragraph{
	padding-left: 30px;
	padding-right: 30px;
}
.vid{
	width: 700px;
	height; 470px;
}
#belowVideo{
	text-align: center;
}
.info{
	padding-left: 50px;
	padding-right: 50px;
}
.lang{
	background-color: white;
	border: 2px solid grey;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	margin: 20px;
}
li{
	text-align: left;
}
.col-link{
	display: block;
	text-align: center;
	margin-top: 10px;
	font-size: 130%;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}
.content{
	margin-left: -15px;
	margin-right: -15px;
}
#link{
	height: 50px;
	width: 325px;
	background-color: #e5eeff;
	padding: 10px;
	border-radius: 10px;
	font-size: 150%;
	text-align: center;
}
#linkbox{
	height: 50px;
	width: 325px;
}
.side-col{
	background-color: #2DCC70;
	border-right: 2px solid grey;
	border-top: 2px solid grey;
	border-bottom-left-radius: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.resources{
	color: white;
	text-align: center;
	font-size: 200%;
	
}
.mid-col{
	background-color: white;
	border-top: 2px solid grey;
	padding-top: 20px;
	border-bottom-right-radius: 15px;
	margin-bottom: 15px;
}
.line{
	display: flex;
}
#theTitle{
	text-align: left;
}
#head{
	background-color: #2DCC70;
	color: white;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 15px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#contact{
	background-color: #1a1aff;
	color: white;
	padding: 5px;
	text-align: center;
	font: 26px Arial, Helvetica, sans-serif;
	border-radius: 5px;
}
.rescontent{
	margin: 15px;
	padding: 15px;
	background-color: #f2f2f2;
	text-align: center;
	align-items: center;
	border-radius: 15px;
}
.reset{
	margin: 15px;
	padding: 20px;
	background-color: #f2f2f2;
	text-align: center;
	border-radius: 15px;
	width: 300px;
	border: 2px solid blue;
}
.social{
	height: 20px;
	display: inline;
	float: center;
	margin-top: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}
#contact-info{
	width: 90%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 2px solid #d9d9d9;
	border-top: 0px;
	background-color: white;
	padding: 10px;
}

#how-to-holder a{
	margin-top: 7px;
}