#nav-bar{
	width: 100vw;
	height: 5%;
	font: 18px Arial, Helvetica, sans-serif;
	border-bottom: thick solid black;
}

#title{
	text-align: center;
}

h1{
	font: 54px Arial, Helvetica, sans-serif;
}

#subtitle{
	text-align: center;
	font: 24px Arial, Helvetica, sans-serif;
}

#logo{
	float: right;
}

#resource-title{
	text-align: center;
	text-decoration: underline;
	font: 24px Arial, Helvetica, sans-serif;
}

#how-to-holder{
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	text-align: center;
	margin-top: 10px;
}

#how-to-holder a{
	margin-top: 7px;
}

#resource-tab{
	float: left;
	margin-top: 10vh;
}

#container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: thick solid black;
	height: 300px;
}

#takeUpSpace{
	height: 10vh;
	border-bottom: thick solid black;
}

nav{
	border-top: thin solid black;
	border-right: thin solid black;
	border-left: thin solid black;
	border-bottom: thin solid black;
}